<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erros e Acertos</title>
</head>
<body>

  <div class="container">
    <div class="content">
    <h2>Quantidade de acertos: <span id="acertos">0</span></h2>
    <h2>Quantidade de erros: <span id="erros">0</span></h2>
    <h2>Email: <span id="email">@Example.com</span></h2>
    <button type="button" class="btn btn-primary" routerLink="/fases" >Ok</button>
    </div>
  </div>

</body>
</html>
