<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 1</title>
</head>
<body>
  <div class="container">
    <div class="content">
      <h3><strong>FASE 1</strong></h3>
      <img src="assets/win/win-level.png" alt="Cover">

      <div class="text-box">
        <h2><strong>PARABÉNS</strong></h2>
        <span>Você concluiu a FASE 1 do aplicativo Binários!</span>
        <div class="star-rating">
          <ng-container *ngFor="let star of starsArray">
            <i class="bi bi-star-fill" style="color: #003366;"></i>
          </ng-container>
          <ng-container *ngFor="let star of emptyStarsArray">
            <i class="bi bi-star" style="color: gray;"></i>
          </ng-container>
        </div>        
      </div>

      <div class="nav-buttons">
       
        <div class="nav-btn">
          <button (click)="resetProgress()">
            <i class="bi bi-arrow-counterclockwise"></i>
          </button>
          <div class="reiniciar-text">
            Reiniciar
          </div>
        </div>

        
        <div class="nav-btn">
          <a routerLink="/fases">
            <button>
              <i class="bi bi-house-door"></i>
            </button>
          </a>
          <div class="home-text">
            Home
          </div>
        </div>

        
        <div class="nav-btn">
          <button (click)="goToNextLevel()">
            <i class="bi bi-chevron-right"></i>
          </button>
          <div class="avancar-text">
            Avançar
          </div>
        </div>
      </div>      
    </div>
  </div>
</body>
</html>
